{% extends 'base.html.twig' %}

{% block title %}Pimento index{% endblock %}

{% block body %}
    <h1>Pimento index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pimento in pimentos %}
            <tr>
                <td>{{ pimento.id }}</td>
                <td>{{ pimento.name }}</td>
                <td>{{ pimento.price }}</td>
                <td>{{ pimento.description }}</td>
                <td>
                    <a href="{{ path('pimento_show', {'id': pimento.id}) }}">show</a>
                    <a href="{{ path('pimento_edit', {'id': pimento.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pimento_new') }}">Create new</a>
{% endblock %}
