{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="h1 text-dark fw-bolder text-center mt-5 mb-1">S'inscrire</h1>

		<div class="d-flex justify-content-around">
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentvert.png') }}" style="height: 240px; width: 300px;"/>
			</a>
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentjaune.png') }}" style="height: 240px; width: 300px; "/>
			</a>
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentrouge.png') }}" style="height: 240px; width: 300px;"/>
			</a>
		</div>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    <div class="mx-auto w-75">
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        </div>

        <button type="submit" class="btn btn-outline-secondary fw-bold mb-5 text-decoration-none text-uppercase">Valider</button>
    {{ form_end(registrationForm) }}
{% endblock %}
