{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent()}}
{% endblock %}

{% block title %}Wild Pimentos
{% endblock %}


{% block body %}
<div class="container-fluid">
	<h1 class="text-center mt-5 text-dark fw-bold">Mettez du piment dans votre vie !</h1>

<div class="w-50 mx-auto my-5">
{{ form_start(form)}}
{{ form_widget(form)}}
<button class="btn btn-secondary border-2 border-primary mx-auto card-link btn-sm  text-primary fw-bold rounded text-decoration-none w-25">Rechercher</button>
{{ form_end(form)}}
</div>

	<ul class="row g-3 d-flex justify-content-center mt-5">
		{% for pimento in pimentos %}
		{% if pimento.stock > 0 %}
			<div class="card mx-3 bg-secondary px-0" style="width: 21rem;">
				<img class="card-img-top rounded w-100" src="{{ asset('build/images/pimento.jpg') }}" alt="{{ pimento.name }}">
				<div class="card-body">
					<h5 class="card-title text-center mb-4">{{ pimento.name }}</h5>
					<p class="card-text fst-italic h5 mb-4">{{ pimento.description|u.truncate(50, '...') }}</p>
					<p class="list-group-item bg-secondary h5">Prix : {{ pimento.price }}€/kg</p>
				</div>
				<div class="card-body d-flex g-1">
					<a href="{{ path('pimento_show', {'id': pimento.id}) }}" class="btn btn-primary rounded btn-sm border-2 border-primary mx-auto card-link fw-bold w-50 text-secondary text-decoration-none">Voir plus</a>
					<a href="{{ path('cart_add', {'id': pimento.id}) }}" class="btn btn-outline border-2 border-primary mx-auto card-link btn-sm  text-primary fw-bold rounded text-decoration-none w-50">Acheter</a>
				</div>
			</div>
			{% endif %}
		{% endfor %}
	</ul>
</div>
{% endblock %}