{% extends 'base.html.twig' %}

{% block title %}Pimento index
{% endblock %}

{% block body %}
	<div class="container">
		<h1 class="text-center text-dark fw-bolder mt-5">Bienvenue sur votre espace administrateur.</h1>
		<h2 class="text-center text-dark fw-bold">Depuis cet espace, créez, modifiez, ou supprimez des produits de votre catalogue.</h2>

		<div class="d-flex justify-content-around">
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentvert.png') }}" style="height: 240px; width: 300px;"/>
			</a>
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentjaune.png') }}" style="height: 240px; width: 300px; "/>
			</a>
			<a href="{{ path('admin_pimento_new') }}">
				<img src="{{ asset('build/images/pimentrouge.png') }}" style="height: 240px; width: 300px;"/>
			</a>
		</div>
		<div class="d-flex justify-content-evenly my-5">
			<a class="btn btn-outline-secondary fw-bold w-25 mb-5 border-3 border-secondary" href="{{ path('sales_index') }}">Cliquez ici pour accéder à vos ventes</a>
			<a class="btn btn-outline-secondary fw-bold w-25 mb-5 border-3 border-secondary" href="{{ path('admin_pimento_new') }}">Cliquez ici pour ajouter un piment à votre catalogue</a>
			<a class="btn btn-outline-secondary fw-bold w-25 mb-5 border-3 border-secondary" href="{{ path('admin_pimento_index') }}">Cliquez ici pour modifer ou supprimer un piment de votre catalogue</a>
		</div>
	{% endblock %}
