<nav class="navbar navbar-expand-lg navbar-light bg-primary" {{ stimulus_controller('aieAieAie') }}>
  <a class="navbar-brand" href="{{ path('home') }}"><img src="{{ asset('build/images/sombrero.svg') }}" style="height: 28px; width: 56px;"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a {{ stimulus_action('aieAieAie', 'aieAieAie') }} class="nav-item nav-link active" href="{{ path('home') }}"><span class="h5">Accueil</span></a>
      <a class="nav-item nav-link" href="{{ path('pimento_index') }}"><span class="h5">La boutique</span></a>
      <a class="nav-item nav-link" href="{{ path('scoville_index') }}"><span class="h5">Scoville</span></a>
      {% if app.user %}
						<a class="nav-item nav-link" href="{{ path('logout') }}"><span class="h5">Déconnexion</span></a>
					{% else %}
						<a class="nav-item nav-link" href="{{ path('login') }}"><span class="h5">Connexion</span></a>
						<a class="nav-item nav-link" href="{{ path('register') }}"><span class="h5">Inscription</span></a>
					{% endif %}
        {% if (is_granted('ROLE_ADMIN')) %}
					<a class="nav-item">
						<a class="nav-item nav-link" href="{{ path('admin_index') }}"><span class="h5">Admin</span></a>
					</a>
          {% endif %}
          <a class="nav-item">
						<a class="nav-item nav-link" href="{{ path('cart_index') }}"><span class="h5">Mon panier {{ include('icons/cart.svg') }}</span></a>
					</a>
    </div>
  </div>
</nav>