{% extends 'base.html.twig' %}

{% block title %}Mes ventes
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="my-5 mx-auto text-center fw-bolder text-dark">Mes ventes</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Date</th>
					<th class="text-center">Client</th>
					<th class="text-center">Détail de la commande</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
					<td class="text-center">{{ order.createdAt|date("m/d/Y") }}</td>

						<td class="text-center">{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td class="text-center">{% for product in order.content.product %}
								{{ product.name }}({{ order.content.quantity }}),
								{% endfor %}
							</td>
														{% endfor %}

					</tr>
					{# <a href="{{ path('admin_pimento_edit', {'id': pimento.id}) }}">{{ include('icons/edit.svg') }}
																						    {{ include('pimento/_delete_form.html.twig') }} #}

					{# </a> #}
			</tbody>
		</table>
	</div>
{% endblock %}
