{% extends 'base.html.twig' %}

{% block title %}Mes ventes
{% endblock %}
{% block body %}
	<div class="container-fluid">
		<h1 class="my-5 mx-auto text-center fw-bolder text-dark">Mes ventes</h1>

		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">Référence</th>
					<th class="text-center">Date</th>
					<th class="text-center">Client</th>
					<th class="text-center">Détail de la commande</th>
				</tr>
			</thead>
			<tbody>
				{% for order in orders %}
					<tr>
						<td class="text-center">{{ order.reference }}</td>

						<td class="text-center">{{ order.createdAt|date("m/d/Y") }}</td>

						<td class="text-center">{{ order.user.firstname }}
							{{ order.user.lastname }}</td>
						<td class="text-center">
							{% for product in order.content.product %}
								{{ product.name }}({{ order.content.quantity }}),
							{% endfor %}
						</td>
					{% endfor %}

				</tr>
			</tbody>
		</table>
		<a class="mx-auto btn btn-outline-secondary fw-bold w-25 mb-5 border-3 border-secondary" href="{{ path('admin_index') }}">Retour</a>

	</div>
{% endblock %}
